<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xhz.mydemos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".test.TestActivity">
        </activity>
        <activity android:name=".webview.WebViewActivity">
        </activity>
        <activity android:name=".animation.AnimationActivity">
        </activity>
        <activity android:name=".camera.CameraActivity">
        </activity>
        <activity android:name=".draggablepanel.DraggablePanelActivity">
        </activity>
        <activity android:name=".draggablepanel.DraggableViewActivity">
        </activity>
    </application>

</manifest>